.buttonStyle {
  padding: 0;
}

.itemStyle {
  padding: 1em 0 0 1em
}

.cancelButton {
  margin: auto;
  top: 1em;
  right: 0;
  position: absolute;
}

.icon {
  padding-right: 1em;
  position: relative;
  top: -5px;
}

.orderHeader {
  padding: 1em 0 1em 2em;
}

.info { 
  padding: 1em 0 1em 0;
}