@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.defaultContainer {
  margin: 1em 0;
  border: 1px solid #E6E6E7 ;
  padding: 2em 2em 3em 2em;
  border-radius: 8px;
  box-shadow: 8px 16px 40px rgba(0, 0, 0, 0.12);
  width: 65%;
}

div.selectBorder {
  display: flex;
  position: relative;
  align-items: inherit;
  width: 100%;
  border: 1px solid #F1F1F1;
  margin: 2em 0em 1em 0;
}

.sampleContainer {
  padding: 2em;
  margin-top: 2em;
  border: 1px solid #E6E6E7;
  border-radius: 4px;
}

.priceTypography {
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
  padding: .5em 0;
}