.app-container {
  margin: 2em 4em;
}

.content {
  bottom: 0;
}

.headline {
  padding-bottom: 4em;
}

.list-title {
  padding-bottom: 2em;
}

.router-link, .router-link:visited {
  text-decoration: none;
}

.component-category {
  
}

