.app-container {
  display: flex;
  margin: 2em 4em;
  flex: 1;
}

.content {
  float: right;
  right: 0;
  display: flex;
  width: 70%;
}

.header {
  padding: 4em;
  align-items: flex-start;
  display: flex;
}

.homeIcon {
  transform: scale(1.8);
  padding-right: 1em;
}

.list-title {
  padding-bottom: 2em;
}

.menuIcon {
  vertical-align: middle;
}

.router-link,
.router-link:visited {
  text-decoration: none;
  width: 100%;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.side-nav {
  float: left;
  left: 0;
  padding-right: 8em;
}

.subsection {
  padding: .5em 0;
  border-bottom: 1px solid rgba(60, 60, 67, 0.13);
  display: flex;
}

.subsection > * {
  display: flex;
  width: 100%;
}
