.app-container {
  display: flex;
  margin: 2em 4em;
  flex: 1;
}

/* .content {
  bottom: 0;
} */

.title {
  padding-bottom: 4em;
  /* display: block; */
}

.list-title {
  padding-bottom: 2em;
}

.router-link, .router-link:visited {
  text-decoration: none;
}

