.app-container {
  display: flex;
  margin: 2em 4em;
  flex: 1;
}

.content {
  float: right;
  right: 0;
  display: flex;
  width: 70%;
}

.header {
  padding: 4em;
  width: 100%;
}

.list-title {
  padding-bottom: 2em;
}

.router-link,
.router-link:visited {
  text-decoration: none;
}

.side-nav {
  float: left;
  left: 0;
  padding-right: 8em;
}
